<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/todo.css">
        <link rel="stylesheet" href="../css/saman.css">
        <title>Salam</title>
    </head>
    <body>
        <div class="container">
            <div class="row margin-top-40">
                <div class="col-sm-3">
                    <div class="list-group">
                        <a href="./index.html" class="list-group-item">Home</a>
                        <a href="./store.html" class="list-group-item">Store</a>
                        <a href="./todo.html" class="list-group-item">Todo</a>
                        <a href="./angular.html" class="list-group-item">Angular</a>
                        <a href="./users.html" class="list-group-item">User List</a>
                        <a href="./example.html" class="list-group-item">Example</a>
                        <a href="./dynamic-forms.html" class="list-group-item">Dynamic Forms</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <!--**********************************************************************-->
                            <div ng-controller="ContactController">
                                <form>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input name="name" ng-model="newcontact.name" type="text" class="form-control">
                                    </div>  
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input name="email" ng-model="newcontact.email" type="text" class="form-control">
                                    </div>  
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input name="phone" ng-model="newcontact.phone" type="text" class="form-control">
                                    </div>  
                                    <input ng-model="newcontact.id" type="hidden">
                                    <input value="Save" ng-click="saveContact()" type="button" class="btn btn-success btn-lg">
                                </form>
                                
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contact in contacts">
                                            <td>{{ contact.name }}</td>
                                            <td>{{ contact.email }}</td>
                                            <td>{{ contact.phone }}</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm" ng-click="edit(contact.id)">Edit</button>
                                                <button type="button" class="btn btn-danger btn-sm" ng-click="delete(contact.id)">Delete</button>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>   
                            </div>
                        <!--**********************************************************************-->
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <script src="./js/angular.min.js"></script>
        <script src="./services/userListService.js"></script>
        <script src="./controller/user.js"></script>
    </body>
</html>
