{% extends "::twig/modal.html.twig" %}

{% set modalTitle = theme.title %}
{% set modalLogo = theme.logo %}

{% block body %}
    <div class="row">
        <div class="col-md-12">{{ theme.description }}</div>
    </div>
{% endblock %}