{% if data is not null %}
    <div class="well">
        <p>
            <center>
                <h4>
                It will take our skilled carpet-makers {{ data.duration }} weeks to handmade<br>
                <h2>{{ data.knots }}</h2>
                silk knots in {{ data.numberOfColors }} bright colours!<br><br>

                Price:
                <h2>{{ data.price|localizedcurrency('USD') }}</h2>
                </h4>
            </center>
        </p>
    </div>
{% else %}
{% endif %}                