{% extends "::web/content.html.twig" %}

{% set title = 'Add new Order'|trans %}
{% set pageIcon = 'order.icon.makeOrder' %}

{% block pageBody %}
    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
            {% include '::web/order/form/addOrderForm.html.twig' %}
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="margin-top-40" id="order-info-container"></div>
        </div>
    </div>
    {% include '::web/order/js/addOrder.js.twig' %}
{% endblock %}