{% extends "::web/content.html.twig" %}

{% set title = 'Add new Order'|trans %}
{% block pageBody %}
    
    Order ID: {{ order.id }}
    {% set content = order.content %}
    Order Content:
    <ul>
    {% for key, structure in orderConfig.orderStructure %}
        {% if content[key] is defined %}
            <li>{{ key }}: {{ content[key] }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                {% for address in [primaryBillingAddress, primaryShippingAddress] %}
                    <div class="col-md-6">
                        {% include '::web/user/address.html.twig' with {'address': address} only %}
                    </div>
                {% endfor %}    
            </div>            

            {% include '::web/order/form/setShippingAddressForm.html.twig' %}
        </div>
    </div>
    
{% endblock %}