Order ID: {{ order.id }}<br>
Order User:<br>
<address>
  <strong>{{ order.user.firstName }} {{ order.user.lastName }}</strong><br>
  <a href="mailto:#">{{ order.user.email }}</a>
</address>

{% if order.shippingAddress.isBillingAndShippingAddress %}
    {% include 'ShoppingBundle:Customer:element/_address.html.twig' with {'address': order.shippingAddress} only %}
{% else %}
    {% include 'ShoppingBundle:Customer:element/_address.html.twig' with {'address': order.shippingAddress} only %}
    {% include 'ShoppingBundle:Customer:element/_address.html.twig' with {'address': order.billingAddress} only %}
{% endif %}