{% extends "::web/content.html.twig" %}

{% block pageBody %}
    Heeeeeeeeeeeey you are a member now, You can log in to you profile or order a product
    <a href="{{ path('saman_shopping_customer_profile') }}">My Profile</a>

    <address>
      <h3><strong>{{ user.firstName }} {{ user.lastName }}</strong></h3>
      <a href="mailto:#">{{ user.email }}</a>
    </address>
    {% include '::web/user/_address.html.twig' with {'address': user.primaryBillingAddress} only %}
    {% include '::web/user/_address.html.twig' with {'address': user.primaryShippingAddress} only %}
    
{% endblock %}