{% extends "::web/content.html.twig" %}

{% set title = 'word.createAccount'|trans %}
{% set pageIcon = 'icon.logIn' %}

{% block pageBody %}
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            {% include '::web/customer/form/register.html.twig' %}
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <p class="margin-top-10">{{ 'message.signUpMessage'|trans }}</p>
        </div>
    </div>    
{% endblock %}