/nbproject/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/sessions/*
/app/media/*
/app/config/parameters.yml
/app/config/config_dev.yml
/app/logs/*
/build/
/vendor/
log/
/composer.phar
/app/media/*
/web/theme/*
/web/mediacache/*
/web/img/users
/web/.htaccess
/components
/app/config/subdomains/*
/web/imagecache/*
/web/uploads/*
/.buildpath
/.project
/.settings
/APACHE_LOG/
/nbproject/*
*~
/app/logs/dev.log

