{% spaceless %}
<form>
    <div class="input-group">
        <div class="input-group-addon">{{ 'icon.search'|icon }}</div>
        <input class="form-control" id="input-search" type="text" placeholder="Search">
    </div>
</form>
{% endspaceless %}    