{% extends "UserBundle::layout.html.twig" %}

{% block header %}{% endblock %}

{% block body %}
    <div class="modal fade" id="user-form-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <div class="tab-content margin-top-20" id="myTabContent">
        <div class="tab-pane fade in active" role="tabpanel">
            <h3>
                {{ user.firstName }} {{ user.lastName }}
                {{ button(
                    'action.edit', 
                    {
                        url: path('saman_admin_user_edit', {'userId': user.id}),
                        icon: 'icon.edit', 
                        toggleModal: 'user-form-container', 
                        action: 'action-edit-user'
                    }) }}   
            </h3>           
            <address>
              <strong>{{ user.username }}</strong><br>
            </address>            
        </div>
    </div>
{% endblock %}
    
{% block script %}
    {% include 'UserBundle:User:js/users.js.twig' %}
{% endblock %}