{% set twig_rout_navigation_edit = 'saman_appearance_admin_navigation_edit' %}
{% set twig_rout_navigation_delete = 'saman_appearance_admin_navigation_delete' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for navigation in navigationsPagination %}
        <tr>
          <td>{{ navigation.title }}</td>
          <td>
              <div class="pull-right">
                  {{ button(
                        'action.edit', 
                        {
                            url: path(twig_rout_navigation_edit, {'navigationId': navigation.id}),
                            icon: 'icon.edit', 
                            attr: {'data-navigationId': navigation.id},
                            action: 'action-edit-navigation'
                        }) }}
                  {{ button(
                        'action.delete', 
                        {
                            url: path(twig_rout_navigation_delete, {'navigationId': navigation.id }),
                            icon: 'icon.delete', 
                            action: 'action-delete-navigation',
                            attr: {'data-entity-id': navigation.id}
                        }) }}
              </div>  
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(navigationsPagination) }}
</div>