body {
    font-family: "LatoWeb" !important;
    font-size: 11pt !important;
    font-style: normal;
    height:100%;
    background-color: #f9f9f9; //#e5e5e5;
}

#main-sidebar {
    background-color: #3c4b5b;
    position: fixed;
    height: 100%;
    color: #fff;
}
#main-sidebar .header {
    padding-top: 10px;
    background-color: #435466;
    height: 70px;
    color: #fff;
}
#main-sidebar .header .user-info {
    padding-left: 25px;    
}
#main-sidebar .header .user-info .ghost {
    color: #67727e;
    text-transform: uppercase;
}
#main-sidebar .header .user-info .userName {
    padding-top: 2px;
    display: block;
    font-size: 18px;
}
#main-sidebar a {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
#main-sidebar a:hover {
    color: #fff;
}
#main-sidebar .lg {
    width: 280px;
}
#main-sidebar .sm {
    width: 65px;
}
#main-sidebar .lg .module-title {
    display: inline;
}  
#main-sidebar .sm .module-title {
    display: none !important;
}
#main-sidebar .lg .user-info {
    display: inline;
}  
#main-sidebar .sm .user-info {
    display: none !important;
}
#main-sidebar .body {
    
}
#main-sidebar .sidebar-links {
    padding-left: 25px;
}
#main-sidebar .sidebar-links:hover {
    background-color: #435466 !important;
}

@media only screen and (min-device-width: 720px), only screen and (min-width: 720px) {
    #sa-login-container {
        position: absolute;
        top: 50%;
        margin-top: -300px; /* half of #content height*/
        left: 0;
        width: 100%;
    }    
    #sa-login-form {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
    #sa-login-form .panel-body {
        padding: 30px 60px 30px 60px;
    }    
    #main-body {
        margin-left: 280px;
    }     
    .small-block {
        display: none;
    }
    .full-block {
        display: block;
    }

    #main-sidebar .default {
        width: 280px;
    }
    #main-sidebar .user-info {
        float: left;
    }
    #main-sidebar .sidebar-toggle-close {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
    }
    #main-sidebar .sidebar-toggle-close .glyphicon:before{
        content:"\e079 ";
    }
    #main-sidebar .sidebar-toggle-open {
        margin-top: 10px;
        margin-left: 20px;
        float: left;
    }
    #main-sidebar .sidebar-toggle-open .glyphicon:before{
        content:"\e080 ";
    }
    #main-sidebar .module-title {
        display: inline;
    }
}
@media only screen and (max-device-width: 720px), only screen and (max-width: 720px) {
    #sa-login-container {
        position: absolute;
        left: 0;
        width: 100%;
    }    
    #sa-login-form {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #sa-login-form .panel-body {
        padding: 20px;
    }    
    #main-body {
        margin-left: 70px;
    }     
    .small-block {
        display: block;
    }
    .full-block {
        display: none;
    }
    
    #main-sidebar .default {
        width: 65px;
    }
    #main-sidebar .user-info {
        display: none;
    }
    #main-sidebar .module-title {
        display: none;
    }
}

.color-red {
    color: #eb4d5c;
}
.color-blue {
    color: #3aa3e3;
}
.color-green {
    color: #2ab27b;
}
.color-yellow {
    color: #edb431;
}
.color-violet {
    color: #9e7da6;
}
.color-white {
    color: #fff;
}  

.bg-red {
    background-color: #eb4d5c;
}
.bg-blue {
    background-color: #3aa3e3;
}
.bg-green {
    background-color: #2ab27b;
}
.bg-yellow {
    background-color: #edb431;
}
.bg-violet {
    background-color: #9e7da6;
}
.bg-white {
    background-color: #fff;
}

.br-red {
    border-color: #eb4d5c !important;
}
.br-blue {
    border-color: #3aa3e3 !important;
}
.br-green {
    border-color: #2ab27b !important;
}
.br-yellow {
    border-color: #edb431 !important;
}
.br-violet {
    border-color: #9e7da6 !important;
}
.br-white {
    border-color: #fff !important;
}  

textarea, input, .uneditable-input:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input:focus {
    border-color: #a0a0a0 !important;
}

.btn-primary {
    background-color: #3aa3e3 !important;
    border: none !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
.btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #258ccd !important;
}
.btn-primary:active, .btn-primary.active {
}

.btn-success {
    background-color: #2ab27b !important;
    border: none !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, 
.btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color: #169360 !important;
}
.btn-success:active, .btn-success.active {
}

.btn-info {
    background-color: #9e7da6 !important;
    border: none !important;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, 
.btn-info.active, .open > .dropdown-toggle.btn-info {
    background-color: #825c8c !important;
}
.btn-info:active, .btn-info.active {
}

.btn-warning {
    background-color: #edb431 !important;
    border: none !important;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, 
.btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-color: #d79b0c !important;
}
.btn-warning:active, .btn-warning.active {
}

.btn-danger {
    background-color: #eb4d5c !important;
    border: none !important;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, 
.btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-color: #d23b49 !important;
}
.btn-danger:active, .btn-danger.active {
}

.alert {
    color: #494949;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.alert-warning {border-left: 5px solid #edb431;}
.alert-warning .glyphicon:before{content:"\e101 ";color:#edb431;margin-right: 5px;}

.alert-info {border-left: 5px solid #3aa3e3;}
.alert-info .glyphicon:before{content:"\e086 ";color:#3aa3e3;margin-right: 5px;}

.alert-success {border-left: 5px solid #2ab27b;}
.alert-success .glyphicon:before{content:"\e084 ";color:#2ab27b;margin-right: 5px;}

.alert-danger {border-left: 5px solid #eb4d5c;}
.alert-danger .glyphicon:before{content:"\e083 ";color:#eb4d5c;margin-right: 5px;}


.btnr {
    float: left;
    display: block;
    font-size: 12px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.btnr .glyphicon {
    position: absolute;
    top: 7px;
    left: 8px
}
.btnr-default {
    opacity: .8;
    background-color: rgba(255,255,255,.2);
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #67686e
}
.btnr-default:hover {
    opacity: .8;
    background-color: rgba(100,100,100,.1);
    color: #67686e
}
.btnr-default:active {
    opacity: .8;
    color:#67686e;
    background-color:#f7f7f7;
    border-color:rgba(0,0,0,.12);
    box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.075)
}
.btnr-default-inv {
    opacity: .8;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #67686e
}
.btnr-default-inv:hover {
    opacity: .8;
    background-color: rgba(255,255,255,.2);
    color: #67686e
}
.btnr-default-inv:active {
    opacity: .8;
    color:#67686e;
    background-color: transparent;
    border-color:rgba(0,0,0,.4);
    box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.075)
}
.btnr-primary {
    background-color: #3aa3e3;
    border: 1px solid #3aa3e3;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #f9f9f9
}
.btnr-primary:hover, .btnr-primary:focus, .btnr-primary:active, .btnr-primary.active {
    background-color: #258ccd;
    color: #f9f9f9
}
.btnr-success {
    background-color: #2ab27b;
    border: 1px solid #2ab27b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #f9f9f9
}
.btnr-success:hover, .btnr-success:focus, .btnr-success:active, .btnr-success.active {
    background-color: #169360;
    color: #f9f9f9
}
.btnr-info {
    background-color: #9e7da6;
    border: 1px solid #9e7da6;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #f9f9f9
}
.btnr-info:hover, .btnr-info:focus, .btnr-info:active, .btnr-info.active {
    background-color: #825c8c;
    color: #f9f9f9
}
.btnr-warning {
    background-color: #edb431;
    border: 1px solid #edb431;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #f9f9f9
}
.btnr-warning:hover, .btnr-warning:focus, .btnr-warning:active, .btnr-warning.active {
    background-color: #d79b0c;
    color: #f9f9f9
}
.btnr-danger {
    background-color: #eb4d5c;
    border: 1px solid #eb4d5c;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    position: relative;
    color: #f9f9f9
}
.btnr-danger:hover, .btnr-danger:focus, .btnr-danger:active, .btnr-danger.active {
    background-color: #d23b49;
    color: #f9f9f9
}

.mini_quote {
  padding: 5px 10px !important;
  margin: 0 0 10px !important;
  font-size: 14px !important;
}

