@CHARSET "UTF-8";

.center-content {
    text-align: center !important;
}

.margin-left-0  {margin-left: 0px;}
.margin-left-2  {margin-left: 2px;}
.margin-left-5  {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-30 {margin-left: 30px;}
.margin-left-40 {margin-left: 40px;}

.margin-right-0  {margin-right: 0px;}
.margin-right-2  {margin-right: 2px;}
.margin-right-5  {margin-right: 5px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-40 {margin-right: 40px;}

.margin-bottom-0  {margin-bottom:0px;}
.margin-bottom-2  {margin-bottom:2px;}
.margin-bottom-5  {margin-bottom:5px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-bottom-30 {margin-bottom:30px;}
.margin-bottom-40 {margin-bottom:40px;}

.margin-top-0  {margin-top:0px;}
.margin-top-2  {margin-top:2px;}
.margin-top-5  {margin-top:5px;}
.margin-top-10 {margin-top:10px;}
.margin-top-20 {margin-top:20px;}
.margin-top-30 {margin-top:30px;}
.margin-top-40 {margin-top:40px;}

.padding-left-10 {padding-left: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-30 {padding-left: 30px;}
.padding-left-40 {padding-left: 40px;}

.padding-right-10 {padding-right: 10px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-30 {padding-right: 30px;}
.padding-right-40 {padding-right: 40px;}

.padding-bottom-10 {padding-bottom:10px;}
.padding-bottom-20 {padding-bottom:20px;}
.padding-bottom-30 {padding-bottom:30px;}
.padding-bottom-40 {padding-bottom:40px;}

.padding-top-10 {padding-top:10px;}
.padding-top-20 {padding-top:20px;}
.padding-top-30 {padding-top:30px;}
.padding-top-40 {padding-top:40px;}

.label {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

body .ace_scrollbar-v {
    display: none !important;
}

.d-dashboard-module {
    display: block;
    float: left;  
    padding: 20px 4px 4px 4px;
    margin: 5px;
    text-align: center !important;
    background-color: #ffffff;
    border-radius:4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-decoration: none;
    height: 100px;
    width: 100px;
}
.d-dashboard-module:hover {
    color: #bc2328;
    background-color: #ededed;
    text-decoration: none;
}

.center-content {
    text-align: center !important;
}

.d-float-left {
    float: left;  
}

.d-float-right {
    float: right;
}

.d-disable {
    opacity: 0.5;
}

.d-breadcrumb {
    padding:15px 2px;
    background-color:#f5f5f5;
    border-radius:4px
}

.d-hidden {
    display: none;
}

.btn-link:hover {
    background:#FFFFFF;
    text-decoration: none;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.d-loading-background {
    background-color:#ffffff;
    opacity: 0.3;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}  

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.d-form-icon-dropdown-menu {
    width: 500px;
}

.d-form-icon-dropdown-menu-items {
    margin: 6px 6px 6px 6px;
    color: #555;
    cursor: pointer;
}

.d-form-icon-dropdown-menu-items:hover {
    margin: 6px 6px 6px 6px;
    color: #337ab7;
    cursor: pointer;
}

.d-form-icon-selected-icon {
    font-size: 15px;
}

.d-pagination-button {
    font-size:x-small;
}            

.d-no-padding {
    padding:0px 0px 0px 0px;
}

.d-no-top-padding {
    padding-top: 0px;
}

.d-no-bottom-padding {
    padding-bottom: 0px;
}

.d-title {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    display: inline;
}

.d-title-m {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: larger;
    font-weight: bold;
    display: inline;
}

.d-description {
    font-size: medium;
    color: #888;
}

.d-checkable {
    cursor: pointer
}

.d-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }

.d-sortable { 
    cursor: move;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

.d-sortable-items {
    list-style: none;
}

.d-saman-multiple-form { 
    list-style-type: none; 
    margin: 0; 
    
    padding: 0; 
    width: 100%;
}

.d-saman-media-form-dropzone {
    border-style: dashed;
    border-width: 2px;
    border-color: #dddddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.d-saman-media-form-dropzone-hover {
    border-style: dashed;
    border-width: 2px;
    border-color: #70b8f1;
    border-radius: 4px;
    margin-bottom: 5px;    
    cursor: cell;
    background-color: #f7f7f9;
}

.d-text-muted {
    color: #ccc;
}

.s-loading-1 {
    background-image: url(../img/l1.gif);
    background-repeat: no-repeat;
    width: 16px; /*or your image's width*/
    height: 16px; /*or your image's height*/
    text-decoration: none;
}

.d-no-outline {
    outline:none !important;
}

//To remove all doted outline, including those in bootstrap themes.
a, 
a:active, 
a:focus, 
button, 
button:focus, 
button:active, 
.btn, 
.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn.active.focus {
    outline:none !important;
}
.ladda-button {
    outline:none !important;
}

.btn-loading:after {
    content: " ...";// url(../img/loading.gif);
}

.form-qty-small {
    width: 65px !important;
}