{% extends "::base_playground.html.twig" %}

{% block body %}
<a href="#" class="btn btn-alt"><span>Green</span></a>
<a href="#" class="btn btn-alt btn-red"><span>Red</span></a>
<a href="#" class="btn btn-alt btn-yellow"><span>Yellow</span></a>
<a href="#" class="btn btn-alt btn-blue"><span>Blue</span></a>


<a href="#" class="btn btn-left"><span>Prev</span></a>
<a href="#" class="btn btn-middle"><span>Download all files</span></a>
<a href="#" class="btn btn-right"><span>Next</span></a>

<a href="#" class="btn btn-left btn-acute"><span>Prev</span></a>
<a href="#" class="btn btn-middle btn-acute"><span>Download all files</span></a>
<a href="#" class="btn btn-right btn-acute"><span>Next</span></a>

<div class="widget-container boxed">
    <div class="inner">
        <h3 class="widget-title">Widget Title</h3>
        <!-- place your content here -->
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

<div class="comment-list message-field">
    <ol>
        <li class="comment">
            <div class="comment-body">
                <div class="comment-avatar">
                    <div class="avatar">
                        <img src="images/temp/avatar5.png" alt="" />
                    </div>
                </div>
                <div class="comment-text">
                    <div class="comment-author">
                        <a href="#" class="link-author">Elijah Wood</a>
                    </div>
                    <div class="comment-entry">
                        He made his film debut with a minor part in Back to the Future Part II (1989), then landed a succession. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>
{% endblock %}