<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
    </head>
    <body>
        <div class="container margin-top-20">
            <a class="margin-bottom-20" href="{{ path('saman_pg_index') }}">{{ 'module.playground.icon'|icon }} Playground</a><br><br><br>
            
            <!-- Standard button -->
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>    
            
            <form>
                <button class="btn btn-primary ladda-button" type="submit" data-style="expand-left"><span class="ladda-label">expand-left</span></button>            
            </form>
        </div>
    </body>
</html>