{% extends "::web/content.html.twig" %}

{% set title = 'Gallery'|trans %}
{% set pageIcon = 'order.icon.myOrders' %}

{% block pageBody %}
    <div id="products-list-container">
        {{ productsView|raw }}
    </div>    
{% endblock %}

{% block script %}
    {% include '::web/product/js/products.js.twig' %}
{% endblock %}