{% extends "::base_playground.html.twig" %}

{% block body %}
    {% for widgetType in widgetTypes %}
        <a href="{{ path('saman_pg_widget_display_widgets', {widgetType: widgetType})}}">{{ widgetType }}</a><br>
    {% endfor %}
{% endblock %}