{% extends "::twig/modal.html.twig" %}

{% set modalTitle = item.title %}
{% set modalLogo = item.logo %}

{% block body %}
    <div class="row">
        <div class="col-md-12">{{ item.getVisibilityLogo|icon }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ item.content|raw }}</div>
    </div>
{% endblock %}